body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: #003737;

  .navbar {
    .container {
      margin: 0 5rem;
      padding: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: space-between;
    }

    a {
      color: #fff;
      text-decoration: none;
    }

    svg {
      width: 1.2rem;
      height: 1.2rem;
      color: #fff;
    }

    .nav--logo a {
      font-size: 1.5rem;
      font-weight: 600;
    }

    .nav--items {
      display: flex;

      .nav--items__01 {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .nav--cta {
      display: flex;

      svg {
        width: 1.4rem;
        height: 1.4rem;
      }

      .cta--btn a {
        margin-left: 1rem;
        font-size: 0.85em;
        font-weight: 600;
        padding: 0.65rem 0.85rem;
        color: #003737;
        border-radius: 0.2rem;
        background: #01c776;
      }
    }
  }

  main {
    .content {
      display: block;
      text-align: center;
      color: #fff;

      h1 {
        font-size: 6.675rem;
        font-weight: 500;
        font-family: "TT Commons";
        margin: 5rem 30rem 1.5rem 29rem;
        line-height: 6rem;
      }

      p {
        margin: 0 32rem;
        color: #c4dfe1;
        font-size: 1.075rem;
        font-weight: 500;
      }
    }

    .main--cta {
      display: flex;
      margin: 2.75rem;
      align-items: center;
      justify-content: center;
    }

    a {
      color: #003737;
      font-weight: 600;
      margin-right: 1rem;
      font-size: 0.85rem;
      border-radius: 0.195rem;
      text-decoration: none;
    }

    .cta--btn__01 {
      padding: 0.8rem 1.7rem;
      background: #01c776;
    }

    .cta--btn__02 {
      padding: 0.8rem 1.75rem;
      background: #fff;
    }
  }
}
