body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: #003737;

  .navbar {
    .container {
      margin: 0 5rem;
      padding: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: space-between;
    }

    a {
      color: #fff;
      text-decoration: none;
    }

    svg {
      width: 1.2rem;
      height: 1.2rem;
      color: #fff;
    }

    .nav--logo a {
      font-size: 1.5rem;
      font-weight: 600;
    }

    .nav--items {
      display: flex;

      .nav--items__01 {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .nav--cta {
      display: flex;

      svg {
        width: 1.4rem;
        height: 1.4rem;
      }

      .cta--btn a {
        margin-left: 1rem;
        font-size: 0.85em;
        font-weight: 600;
        padding: 0.65rem 0.85rem;
        color: #003737;
        border-radius: 0.2rem;
        background: #01c776;
      }
    }
  }

  main {
    .content {
      display: block;
      text-align: center;
      color: #fff;

      h1 {
        font-size: 4rem;
        font-weight: 500;
        margin: 4rem 30rem;
        line-height: 4.7rem;
      }
    }
  }
}
